# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Eagle CAD ignore files.
hardware/QTouchShield/*.png
hardware/QTouchShield/*.b#*
hardware/QTouchShield/*.s#*
hardware/QTouchShield/*.zip
hardware/QTouchShield/netlist

# Google SketchUp/EagleUp ignored files.
hardware/QTouchShield/eagleUp/*.skb
hardware/QTouchShield/eagleUp/*.log
hardware/QTouchShield/eagleUp/*.jpg
hardware/QTouchShield/eagleUp/*.png

