# Atmel Studio 6 and Compiler ignored files
*.eep
*.elf
*.hex
*.lss
*.map
*.d
*.o

# Eagle CAD ignore files.
hardware/QTouchShield/*.png
hardware/QTouchShield/*.b#*
hardware/QTouchShield/*.s#*
hardware/QTouchShield/*.zip
hardware/QTouchShield/netlist

# Google SketchUp/EagleUp ignored files.
hardware/QTouchShield/eagleUp/*.skb
hardware/QTouchShield/eagleUp/*.log
hardware/QTouchShield/eagleUp/*.jpg
hardware/QTouchShield/eagleUp/*.png

# Microsoft Excel temporary files
~*.xlsx
