# Atmel Studio 6 and Compiler ignored files
*.eep
*.elf
*.hex
*.lss
*.map
*.d
*.o

# Eagle CAD ignore files.
hardware/*.png
hardware/*.b#*
hardware/*.s#*
hardware/*.zip
hardware/*netlist*

# Google SketchUp/EagleUp ignored files.
hardware/*.skb
hardware/*.log
hardware/*.jpg
hardware/*.png

# Microsoft Excel temporary files
~*.xlsx
